

:root {
    --purple500: #281154;
    --purple300: #270082;
    --purple600: #1b0058;
    --red600: #dc0000;
    --body: #f9f6ff;
    --max-width: 1200px;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    overflow-x: hidden; 
  }
  
 html,body{
    font-family:   "Playwrite PL", cursive;
    font-weight: 300;
    line-height: 1.4;
    font-size: 1.6rem;
   

  }
  ul{
    list-style: none;
  }

  a{
    text-decoration: none;
    color: white;
  }

  header{
    background-color: var(--purple300);
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0);


  }

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}
nav{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 20px;


    }

    .logo{
        font-size: 32px;
        font-weight: 600;
       

    }

    nav ul{
        display: flex;
        gap: 20px; 
    }

    nav ul li:hover{
        border-bottom: 2px solid white;
        transition: 0.2s ease-in;
    }

    nav ul li{
        border-bottom: 2px solid transparent;
        transition: 0.2s ease-in-out;
        transition: 0.2s ease-in;
    }
   .hero-section{
    background-image: url(./images/hero_image.png);
    height: 100vh;
    
    color: white;
    display: flex;
    place-items: center;
    text-align: center;
   }

   .hero-section .container{
    display: flex;
    flex-direction: column;
    gap: 10px;
   }

  .hero-section h1{
    font-size: 9.6rem;
    
    
    
  }
  

  .hero-section h3{
    font-size:3.2rem ;
    
  }

  .music-section{
    padding-top: 50px;
    background: var(--purple500);
    
  }

  .music-section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .ipad-iphone-img{
    position: relative;
    top: 400px;
    /* margin-top: -400px; */
  }

  button{
    padding:10px 15px;
    border: #f9f6ff;
    transition: 0.2s ease-in-out;
    border-radius: 15px;
  }

  button:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;
  }

  .primary-button{
    background: var(--red600);
    color: white;

  }

 

  .about-music{
    padding-top: 50px;
    display: grid;
    place-items: center;
    gap: 30px;
    text-align: center;
   margin-bottom: 50px;
  }

  .secondary-btn {
    background-color: var(--purple300);
    color: white;
  }
.video-section{
  background-image: url(./images/video.png);
  min-height: 900px;
  display: grid;
  place-items: center;
  color: white;
  text-align: center;

}
.video-section .container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: -200px;


}

.hero-section,.video-section{
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gift-section{
  display: flex;
  justify-content: center;
  position: relative;
  gap: 50px;

}
 .gift-card img{
  max-width: 100%;
  height: auto;
  margin-top: 50px;
  
 
  
 }

.gift-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ask{
  display: flex;
  justify-content: center;
}

footer {
  text-align: center;
  padding: 20px;
  background-color:var(--purple300);
   /* Optional: for better visibility */
}





footer h2 {
  margin-bottom: 20px;
  color: white;
}

footer .link {
  display: flex;
  justify-content: center;
}

footer .container {
  display: inline-block;
  flex-wrap: wrap;
  color:#f9f6ff;
}



footer ul {
  list-style-type: none;
  padding: 0;
}

footer li {
  margin: 10px 0;
}

footer a {
  text-decoration: none;
  color:white; /* Customize the color as needed */
  font-size: 16px;
  gap: 30px;
  padding: 30px;
 
}

html{
  font-size: 62.5%;
}

.copyright{
  text-align: center;
  font-weight: 100px;
  color: white;
}



.ask{
  margin-bottom: 30px;
  margin: 0 0 20px 20px;
}
.menu_bar{
  
  font-size: 32px;
}


@media screen and (max-width:767px){

  .gift-section{
    flex-direction: column;
  }

  .gift-section img{
    max-width: 100%;
  }
 html{
  font-size: 45%;
 }
 

 nav ul{
  display: none;
 }
 .menu_bar{
  display: block;
 }

 .link{
  display: flex;
  flex-wrap: wrap;
  
  gap: 20px;

 }

 

 

 

}

@media screen and (max-width:370px) {
  .hero-section h1{
    font-size: 6.2rem;
    
    
    
    
  }

  
}
@media screen and (max-width:264px) {
  .hero-section h1{
    font-size: 4.2rem;
    
    
    
    
  }

  
}


@media screen and (min-width:768px){
  .menu_bar{
    display: none;
  }
  
}

.ask #say h2 {
  /* Add your desired styles for the h2 here */
  
  font-size: 1.8rem;
  text-align: center;

}

@media screen and (max-width:1024px){
  .iphone-ipad-image img ,
  .mac-img img
  {
    max-width: 100%;
  }

  .gift-card img{
    width: 40.0rem;
  }
  
}





